doctype html
head
  title SIMPLE CALICULATOR
  link(rel='stylesheet' href='/css/style.css')
  script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-Q3E3XZ7RL7')
.container
  form#signup.form
    h1 SIMPLE CALICULATOR
    .form-field
      label(for='num1') Enter First Number:
      input#num1(type='number' name='num1' autocomplete='off')
      small
    .form-field
      label(for='num2') Enter Second Number:
      input#num2(type='number' name='num2' autocomplete='off')
      small
    .form-field
      label(for='confirm-password') Operand:
      input#confirm-password(type='password' name='confirm-password' autocomplete='off')
      small
    .form-field
      input(type='submit' value='RESULT')
      input#confirm-password(type='password' name='confirm-password' autocomplete='off')
