body{
    background: rgb(182, 233, 225);
    overflow: hidden;
}

form{
    margin-top: 200px;
    transform: translateX(27%);
}
    
    input {
        margin-top: 5px;
        border: 2px solid rgb(47, 193, 255);
        padding: 15px;
        width: 35%;
    }
    
    
    .field{
        padding:6px 15px;
    }

    b{
        font-style: Helvetica;
        font-size: 25px;
    }
    
    

